# Ignore local development configuration files
storage
plugins

# Ignore Docker Compose override file
docker-compose.override.yml

# Ignore logs and databases
*.log
*.sqlite
*.db
*.sql

# Ignore environment file
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Ignore npm debug logs
npm-debug.log*

# Ignore VSCode settings
.vscode/

